* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header {
    min-height: 100vh;
    min-width: 30vw;
    /* height: 100%; */
    width: 100vw;
    /* background-color: silver; */
    background-image: url(images/netflix-bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 19vh 0;
    position: relative;   
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.71);
    z-index: 1;
    box-shadow: 0px 50px 20px 20px rgba(0, 0, 0, 0.412) inset;
    /* height: 100%; */
  }

.nav-bar {
    width: 80%;
    /* background-color: darkcyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    flex-wrap: wrap;
    z-index: 2;
}

.nav-bar img {
    width: 160px;
    /* height: 50px; */
    object-fit: cover;
}

.nav-bar .nav-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-bar .nav-button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 161, 161);
}

header .content {
    /* background-color: rgb(116, 130, 142); */
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    /* padding: 25px; */
}

.content .content-text {
    /* background-color: saddlebrown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .content-text h2 {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    /* text-align: center; */

}

.content .content-text h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    padding: 10px;
    font-weight: 590;
    color: white;
}

.content .content-form {
    /* background-color: darkgreen; */
    /* background-image: url(images/netflix-bg-image.jpg); */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 0;
}

.content .content-form .form-input {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.content .content-form p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px;
}

.content .content-form input {
    /* padding: 20px 130px; */
    padding: 14px;
    width: 380px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    /* filter: blur(2px); */
    background-color: rgba(22, 20, 20, 0.767);
    /* box-shadow: 100px 100px 40px 50px black inset; */
    /* background-color: rgba(0, 0, 0, 0.559); */
    /* color: navy; */
}

.content .content-form input::placeholder {
    color: black;
    font-size: 16px;
    text-align: start;
    font-weight: 500;
    color: rgb(220, 220, 220);
    /* padding: 20px; */
    /* padding: 20px 130px; */
}

.content .content-form button {
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.content .content-form button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 161, 161);
}



/* .content .content-form button img {
    height: 20px; 
} */

.bottom-line {
    height: 5px;
    background: linear-gradient(0.25turn, rgb(255, 40, 180), red, rgb(255, 40, 180));
    width: 100%;
    z-index: 2;
}

section {
    height: 100vh;
    width: 100vw;
    background-color: black;
}





@media only screen and (min-width: 1380px) {
    header {
        /* height: 100%; */
        gap: 14vmax;
    }

    
}
@media only screen and (max-width: 1280px) {
    header {
        /* height: 80vh; */
        background-size: cover;
        gap: 22vh 0;
        box-shadow: 0px 50px 20px 1px rgba(0, 0, 0, 0.164) inset
    }

    /* .content {
        margin-bottom: 100px;
    } */

    header::before {
        background: rgba(0, 0, 0, 0.78);
    }
    .nav-bar {
        width: 90%;
    }

    .content .content-text h2 {
        font-size: 40px;
    }

    .content .content-form input {
        width: 310px;
    }

    .content .content-form button {
        padding: 15px 20px;
        font-size: 20px;
        gap: 5px;
    }

    .content .content-form p {
        width: 85%;
    }

    .content .content-text h3 {
        font-size: 17px;
        padding: 2px;
    }

    .content .content-text h2 {
        padding: 2px;
    }

}

@media only screen and (max-width: 960px) {
    .nav-bar img {
        width: 90px;
        height: 27px;
        object-fit: cover;
    }

    .nav-bar {
        width: 100%;
        padding: 30px;
    }

    .content .content-text h2 {
        font-size: 32px;
        padding: 8px;
    }

    header {
        min-height: 0vh;
        gap: 5vh;
    }

    header::before {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .content .content-form input {
        width: 230px;
    }

    .content .content-form button {
        padding: 15px 30px;
        font-size: 20px;
        gap: 5px;
    }
}

@media only screen and (min-width: 1920px) {
    header {
        width: 1920px;
        border-left: 3px solid rgb(113, 11, 11);
        border-right: 3px solid rgb(113, 11, 11);
        box-shadow: 0px 0px 500px 80px rgb(93, 3, 3);
        gap: 10vmax;
    }

    .nav-bar {
        width: 67%;
        padding: 20px;
    }

    .bottom-line {
        justify-self: center;
    }

    .content .content-text h2 {
        font-size: 64px;
        padding: 8px;
        font-weight: bolder;
    }

    .content .content-text h3 {
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
    }

    .content .content-form input {
        width: 430px;
    }

    .content .content-form button {
        padding: 15px 35px;
        font-size: 25px;
        gap: 5px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 600px) {
    header {
        /* gap: 10vh 0; */
        /* width: 100%; */
        overflow-x: hidden;
    }

    .nav-bar {
        padding: 30px 20px;
    }

    .content {
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 50px;
        /* background-color: saddlebrown; */
    }

    .content .content-form p {
        width: 100%;
    }

    .content .content-text h3 {
        padding: 6px 0;
    }

    .content .content-text h2 {
        width: 100%;
    }

    .form-input {
        flex-direction: column;
        /* background-color: saddlebrown; */
        width: 100%;
    }

    .content-form .form-input input {
        width: 100%;
        padding: 18px;
    }

}