@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    /* transition: 0.5s ease; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

::selection {
    background-color: red;
}

header {
    min-height: 100vh;
    min-width: 30vw;
    /* height: 100%; */
    width: 100vw;
    /* background-color: silver; */
    background-image: url(images/netflix-bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 19vh 0;
    position: relative;   
    z-index: 0;
    box-shadow: 0px 10px 150px 30px rgb(34 47 143);
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.71);
    z-index: 1;
    box-shadow: 0px 50px 20px 20px rgba(0, 0, 0, 0.412) inset;
    /* height: 100%; */
  }

.nav-bar {
    width: 80%;
    /* background-color: darkcyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    flex-wrap: wrap;
    z-index: 2;
}

.nav-bar img {
    width: 160px;
    /* height: 50px; */
    object-fit: cover;
}

.nav-bar .nav-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-bar .nav-button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 161, 161);
}

header .content {
    /* background-color: rgb(116, 130, 142); */
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    /* padding: 25px; */
}

.content .content-text {
    /* background-color: saddlebrown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .content-text h2 {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Baloo Bhai 2", sans-serif; */
    font-size: 55px;
    font-weight: 900;
    color: white;
    padding: 10px;
    /* text-align: center; */

}

.content .content-text h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    padding: 10px;
    font-weight: 590;
    color: white;
}

.content .content-form {
    /* background-color: darkgreen; */
    /* background-image: url(images/netflix-bg-image.jpg); */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 0;
}

.content .content-form .form-input {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.content .content-form p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px;
}

.content .content-form input {
    /* padding: 20px 130px; */
    padding: 14px;
    width: 380px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    /* filter: blur(2px); */
    background-color: rgba(22, 20, 20, 0.767);
    /* box-shadow: 100px 100px 40px 50px black inset; */
    /* background-color: rgba(0, 0, 0, 0.559); */
    /* color: navy; */
}

.content .content-form input::placeholder {
    color: black;
    font-size: 16px;
    text-align: start;
    font-weight: 500;
    color: rgb(220, 220, 220);
    /* padding: 20px; */
    /* padding: 20px 130px; */
}

.content .content-form button {
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.content .content-form button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 161, 161);
}



/* .content .content-form button img {
    height: 20px; 
} */

.bottom-line {
    height: 5px;
    background: linear-gradient(0.25turn, rgb(255, 40, 180), red, rgb(255, 40, 180));
    width: 100%;
    z-index: 2;
}

.sec1 {
    /* height: 100vh; */
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.sec1 .sec1-container {
    width: 78%;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 60px;
    /* height: 60vh; */
}

.sec1-container .inner-first-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-first-container .heading {
    align-self: flex-start;
}

.heading h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding: 10px;
}

.inner-first-container .cards-container {
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: auto hidden;
    padding: 20px 25px;
    width: 97%;
    align-self: flex-start;
}

/* .cards-container {
    display: flex;
} */

.cards-container .card {
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
}

.cards-container .card img {
    border-radius: 8px;
    width: 180px;
    height: 250px;
}
.cards-container .card:hover {
    transform: scale(1.05);
}

.cards-container .card .rank {
    position: absolute;
    bottom: -40px;
    left: -25px;
    font-size: 120px;
    /* width: 200px; */
    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: bolder;
    /* -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: white; */
    -webkit-text-stroke: 2px white;
}

.inner-second-container {
    background-color: black;
}

.inner-second-container .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 15px; */
    /* padding: 10px; */
}

.inner-second-container .card-container .card {
    background: linear-gradient(to bottom, rgba(45, 41, 163, 0.632), rgba(170, 1, 55, 0.221));
    /* padding: 50px 10px; */
    margin: 6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 18px;
    transition: 0.5s ease;
    cursor: pointer;
}

.inner-second-container .card-container .card:hover {
    transform: scale(1.03);
}

.inner-second-container .card-container .card .card-text {
    padding: 0px 10px;
    margin-bottom: 20px;
}

.inner-second-container .card-container .card .card-text h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding: 22px 10px 10px 10px;
}

.inner-second-container .card-container .card .card-text p {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: #FFFFFFB3;
    padding: 10px;
}

.card-container .card .card-img {
    /* background-color: darkgoldenrod; */
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px 10px;
}

/* .sec1-container .inner-third-container { */
    /* background-color: darkgoldenrod; */
/* } */

.inner-third-container .questions-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inner-third-container .questions-container .questions {
    width: 100%;
    /* background-color: silver; */
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.inner-third-container .questions-container .questions:hover {
    transform: scale(1.01);
    background-color: rgb(100, 100, 100);
}

.questions-container .questions .question-primary-text h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
}

.questions-container .questions .question-secondary-text img {
    width: 27px;
    object-fit: cover;
}

.inner-forth-container {
    /* background-color: darkgoldenrod; */
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
}

.inner-forth-container .heading p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* font-weight: 700; */
    color: white;
    padding: 15px;
}

.inner-forth-container .get-started-form {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 7px;
}

.inner-forth-container .get-started-form input {
    padding: 14px;
    width: 570px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    /* filter: blur(2px); */
    background-color: rgba(22, 20, 20, 0.767);
}

.inner-forth-container .get-started-form input::placeholder {
    color: black;
    font-size: 16px;
    text-align: start;
    font-weight: 500;
    color: rgb(220, 220, 220);
    /* padding: 20px; */
    /* padding: 20px 130px; */
}

.inner-forth-container .get-started-form button {
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.inner-forth-container .get-started-form button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 161, 161);
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 78%;
    /* background-color: silver; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}

.links {
    /* text-decoration: none; */
    font-size: 14px;
    color: #FFFFFFB3;
    font-family: sans-serif;
    font-weight: 500;
}

.primary-footer .query a {
    font-size: 17px;
}

.footer-container .primary-footer .query {
    margin: 40px 0px;
}

.footer-container .primary-footer ul li {
    list-style: none;
}

.footer-container .primary-footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.footer-container .secondary-footer {
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: start;
    margin-bottom: 140px;
}


.footer-container .secondary-footer .text p {
    font-size: 16px;
    color: #FFFFFFB3;
    font-family: sans-serif;
    font-weight: 600;
    font-family: sans-serif;
}

.footer-container .secondary-footer .captcha-text p {
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
}

.footer-container .secondary-footer .captcha-text p span {
    color: rgb(0, 166, 255);
    text-decoration: underline;
}

.footer-container .secondary-footer button {
    background-color: transparent;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
}

@media only screen and (min-width: 1380px) {
    header {
        /* height: 100%; */
        /* gap: 14vmax; */
        box-shadow: 0px 10px 150px 30px rgb(34 47 143);
    }

    
}
@media only screen and (max-width: 1280px) {
    header {
        min-height: 80vh;
        background-size: cover;
        gap: 22vh 0;
        /* box-shadow: 0px 50px 20px 1px rgba(0, 0, 0, 0.164) inset */
        box-shadow: 0px 10px 150px 30px rgb(34 47 143);
    }

    /* .content {
        margin-bottom: 100px;
    } */

    header::before {
        background: rgba(0, 0, 0, 0.78);
    }
    .nav-bar {
        width: 90%;
    }

    .content .content-text h2 {
        font-size: 40px;
    }

    .content .content-form input {
        width: 310px;
    }

    .content .content-form button {
        padding: 15px 20px;
        font-size: 20px;
        gap: 5px;
    }

    .content .content-form p {
        width: 85%;
    }

    .content .content-text h3 {
        font-size: 17px;
        padding: 2px;
    }

    .content .content-text h2 {
        padding: 2px;
    }

    .sec1 .sec1-container {
        width: 92%;
    }

    
    .cards-container .card img {
        width: 140px;
        height: 196px;
    }

    .cards-container .card .rank {
        font-size: 100px;
        bottom: -30px;
    }

    .inner-first-container .cards-container{
        align-self: center;
        width: 97%;
        gap: 50px;
    }
    
    .inner-second-container .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .inner-second-container .card-container .card .card-text {
        /* padding: 20px 10px; */
        margin-bottom: 0px;
    }

    .inner-second-container .card-container .card .card-text h3 {
        font-size: 20px;
    }

    .card-container .card .card-img {
        padding: 10px 10px;
    }
    
    /* .inner-forth-container .get-started-form input {

    } */

    .inner-forth-container .get-started-form button {
        padding: 17px 26px;
        font-size: 20px;
        gap: 7px;
    }
    
    .inner-forth-container .get-started-form input {
        width: 450px;
    }
    
    .footer-container .primary-footer ul {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer-container {
        width: 92%;
        /* background-color: sandybrown; */
    }
}

@media only screen and (max-width: 960px) {
    .nav-bar img {
        width: 90px;
        height: 27px;
        object-fit: cover;
    }

    .nav-bar {
        width: 100%;
        padding: 30px;
    }

    .content .content-text h2 {
        font-size: 32px;
        padding: 8px;
    }

    header {
        min-height: 0vh;
        gap: 5vh;
    }

    header::before {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .content .content-form input {
        width: 230px;
    }

    .content .content-form button {
        padding: 15px 30px;
        font-size: 20px;
        gap: 5px;
    }

    .sec1 .sec1-container {
        width: 98%;
    }

    
    .cards-container .card img {
        width: 115px;
        height: 160px;
    }

    .cards-container .card .rank {
        font-size: 80px;
        left: -20px;
        bottom: -25px;
    }

    .inner-first-container .cards-container {
        width: 100%;
        gap: 20px;
    }

    .heading h2 {
        font-size: 20px;
    }

    .inner-second-container .card-container {
        grid-template-columns: 1fr;
    }

    .card-container .card .card-img {
        /* background-color: darkgoldenrod; */
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 10px 5px;
    }

    .inner-second-container .card-container .card .card-text {
        padding: 0px;
    }

    .inner-third-container .questions-container .questions {
        padding: 20px;
    }

    .questions-container .questions .question-primary-text h3 {
        font-size: 19px;
    }

    .questions-container .questions .question-secondary-text img {
        width: 20px;
    } 
    
    .inner-forth-container {
        /* background-color: silver; */
        width: 100%;
    }
    
    .inner-forth-container .get-started-form {
        /* background-color: darkcyan; */
        width: 100%;
    }
    
    .inner-forth-container .get-started-form input {
        /* background-color: saddlebrown; */
        width: 85%;
    }
    
    .inner-forth-container .get-started-form button {
        padding: 20px 15px;
        white-space: nowrap;
        font-size: 16px;
        gap: 2px;
    }
    
    .footer-container .primary-footer ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        width: 98%;
    }
}

@media only screen and (min-width: 1920px) {
    header {
        width: 1920px;
        border-left: 3px solid rgb(113, 11, 11);
        border-right: 3px solid rgb(113, 11, 11);
        box-shadow: 0px 0px 500px 80px rgb(93, 3, 3);
        /* gap: 10vmax; */
        min-height: 0vh;
        gap: 15vh;
    }

    .nav-bar {
        width: 67%;
        padding: 20px;
    }

    .bottom-line {
        justify-self: center;
    }

    .content .content-text h2 {
        font-size: 64px;
        padding: 8px;
        font-weight: bolder;
    }

    .content .content-text h3 {
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
    }

    .content .content-form input {
        width: 430px;
    }

    .content .content-form button {
        padding: 15px 35px;
        font-size: 25px;
        gap: 5px;
        font-weight: bold;
    }

    .cards-container .card img {
        width: 214px;
        height: 300px;
    }

    .sec1 .sec1-container {
        /* width: 66%; */
        max-width: 1267.2px;
    }

    .heading h2 {
        font-size: 32px;
        font-weight: bolder;
        color: white;
    }

    .cards-container .card .rank {
        font-size: 150px;
        left: -30px;
    }

    .inner-first-container .cards-container {
        padding: 20px 45px;
    }

    .inner-second-container .card-container .card .card-text {
        /* padding: 20px 10px; */
        margin-bottom: 50px;
    }

    .inner-second-container .card-container .card {
        padding: 16px;
    }

    .footer-container {
        max-width: 1267.2px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        /* gap: 10vh 0; */
        /* width: 100%; */
        overflow-x: hidden;
    }

    .nav-bar {
        padding: 30px 20px;
    }

    .content {
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 50px;
        /* background-color: saddlebrown; */
    }

    .content .content-form p {
        width: 100%;
    }

    .content .content-text h3 {
        padding: 6px 0;
    }

    .content .content-text h2 {
        width: 100%;
    }

    .form-input {
        flex-direction: column;
        /* background-color: saddlebrown; */
        width: 100%;
    }

    .content-form .form-input input {
        width: 100%;
        padding: 18px;
    }

    .inner-forth-container .get-started-form {
        flex-direction: column;
    }

    .inner-forth-container .get-started-form input,
    .inner-forth-container .get-started-form button {
        width: 100%;
        padding: 22px 10px;
    }

    .footer-container .primary-footer ul {
        grid-template-columns: repeat(1, 1fr);
    }
}